[submodule "tools/lemon-php"]
	path = tools/lemon-php
	url = https://github.com/wez/lemon-php.git
	ignore = dirty
[submodule "tools/jlexphp"]
	path = tools/jlexphp
	url = https://github.com/wez/JLexPHP.git
	ignore = dirty
[submodule "tools/asciitosvg"]
	path = tools/asciitosvg
	url = https://github.com/dhobsd/asciitosvg.git
	ignore = dirty
