# Permalinks
#
# Use of `relative_permalinks` ensures post links from the index work properly.
permalink: "/:title/"

highlighter: rouge

timezone: Asia/Shanghai

# Default YAML frontmatter settings
##defaults:re
##  -
##    scope:
##      path: ""
##      type: "posts"
##    values:
##      comments: true

# Tagging settings
tag_title_prefix:   "Posts tagged #"
tag_title_suffix:   ""

# Facebook settings
#fb_admins:          606660677
#avatar:             "/public/images/me_hires.png"
#locale:             en_US

# Image settings
image_base:          /public/images/

# Do not copy these file to the output directory
exclude: [README.md,Gemfile]

#fb_appid:           337414769782635

# Setup
title:               zeerd's blog
tagline:             闲来生雅趣，无事乐逍遥。对窗相望雪，一盏茶香飘。
url:                 "http://blog.zeerd.com"
baseurl:             ""
paginate:            10


# Assets
#
# We specify the directory for Jekyll so we can use @imports.
sass:
  sass_dir:          _sass
  style:            :compressed

# About/contact
author:
  name:              emneg-zeerd
  url:               http://weibo.com/zeerd/
  email:             emneg@zeerd.com
# Custom vars
version:             1.0.0
github:
  repo:              https://github.com/zeerd/zeerd.github.io

# Google sitemap generation
gems:
  - jekyll-sitemap
  - jekyll-paginate

# Conversion
excerpt_separator: "<!--break-->"

kramdown:
  auto_ids: true

pages_list:
  Search: '/search/'
  About: '/about/'
  Tags: '/tags/'
  Pebble: '/pebble/'
  Feed: '/atom.xml'

picture:
  source: "_assets/imgs/_fullsize"
  output: "generated"
  markup: "picture"
  presets:
    default:
      ppi: [1, 1.5, 2]
      source_medium:
        media: "(min-width: 40em)"
        width: "640"
      source_small:
        height: "100"
      source_default:
        width: "640"
