.toc {
  width:200px;
  height:100%;
  background:transparent;
  float:right;
  //border-left:double;
  //border-right:double;
  //border-top:double;
  //border-bottom:double;
  font-size:small;
  margin-left:10px;

  .toctitle {
    margin-left:10px;
    margin-right:10px;
    border-bottom:groove;
  }

}

@media (min-width: 48em) {
  .toc {
    position: fixed;
    top:  5.1rem;
    bottom:  5rem;
    right: 0.8rem;
    display: block;
    padding: .25rem .75rem;
    border-radius: .25rem;
    overflow-y: auto;
    height:70%;
  }
}

@media (max-width: 48em) {
  .toc {
    border-left:double;
    li {
      padding-bottom: 5px;
    }
  }
}