.toc {
  width:200px;
  height:100%;
  background:transparent;
  float:right;
  border-left:double;
  border-right:double;
  border-top:double;
  border-bottom:double;
  font-size:small;
}
